{% extends "PHO_ZIP_APP/header_footer.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'PHO_ZIP_APP/css/home.css' %}">
<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container" id="home">
  <div style="padding:48px">
    <h1 id="main_font" class="w3-text-red w3-center"><b>PHO ZIP & PHO CHA</b></h1>
  </div>
  <div class="w3-center">
    <h1><b> COVID-19 Updates </b></h1>
    <p>Hi. Phozip phocha open with special hour and menu <br>
      During Covid -19 <br>
      11am to 3pm. Kitchen last order 2:30 <br>
      5pm to 10 pm. Kitchen last order 9:30 <br>
      <br>
      For few weeks. After. Open 1am everyday <br>
      <br>
      Dining. To-go. Pick up <br>
      Thank you!! Be safe</p>
  </div> 
  <div style="height: 100px;"></div>

</header>
{% endblock %}

